<h1>Add Attempt Result!</h1>
<h2>$successFailMessage</h2>

<a href="/">Go Back</a>
<br/>
<a href="/tasks">View tasks</a>
<br/>
<a href="/tasks/new">Add a new task</a>

<!-- <button class="btn btn-info" onclick="goBack()">Go Back</button>
<script>
function goBack() {
    window.history.back();
}
</script> -->
